assets/photofx/overlays/light-leaks/*.mov filter=lfs diff=lfs merge=lfs -text
assets/photofx/overlays/light-leaks/*.mp4 filter=lfs diff=lfs merge=lfs -text
assets/photofx/overlays/vhs-glitch/*.mov filter=lfs diff=lfs merge=lfs -text
assets/photofx/overlays/vhs-glitch/*.mp4 filter=lfs diff=lfs merge=lfs -text
assets/photofx/overlays/smoke-fog/*.mov filter=lfs diff=lfs merge=lfs -text
assets/photofx/overlays/sparks-fire/*.mov filter=lfs diff=lfs merge=lfs -text
assets/photofx/overlays/dust-particles/*.mp4 filter=lfs diff=lfs merge=lfs -text
assets/photofx/overlays/film-burns-flash/*.mov filter=lfs diff=lfs merge=lfs -text
assets/photofx/overlays/scribble/**/*.mov filter=lfs diff=lfs merge=lfs -text
assets/photofx/overlays/prism-lens/*.mov filter=lfs diff=lfs merge=lfs -text
assets/photofx/overlays/glitch-noise/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
assets/photofx/overlays/hud-graphic-overlay/*.mov filter=lfs diff=lfs merge=lfs -text
assets/photofx/overlays/hud-graphic-overlay/*.mp4 filter=lfs diff=lfs merge=lfs -text
